<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>Controllers.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controllers.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountController</servlet-name>
        <servlet-class>Controllers.CreateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verity</servlet-name>
        <servlet-class>Controllers.Verity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductOptions</servlet-name>
        <servlet-class>Controllers.GetProductOptions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOptions</servlet-name>
        <servlet-class>Controllers.UpdateOptions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controllers.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>Controllers.OrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/AccountController/*</url-pattern>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountController</servlet-name>
        <url-pattern>/CreateAccountController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verity</servlet-name>
        <url-pattern>/Verity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductOptions</servlet-name>
        <url-pattern>/GetProductOptions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOptions</servlet-name>
        <url-pattern>/UpdateOptions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/</welcome-file>
    </welcome-file-list>
</web-app>
